img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #757575;
    letter-spacing: 0.06em;
}

ul {
    list-style-type: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}