.activity {
    padding-top: 0;
}

.activity__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: var(--def-letter-spacing);

    color: #212121;
}

.activity__list {
    display: flex;
    list-style: none;
}

.activity__item {
    position: relative;
    margin-right: 30px;
    
    &:nth-child(3) {
            margin-right: 0;
        }
}

.activity__description {
    position: absolute;
    bottom: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
}