.header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 16px;
    padding-bottom: 15px;
@media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 25px;
}
    .container {
            display: flex;
            align-items: center;
        }
}

.header__logo {
    margin-right: 88px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: var(--def-letter-spacing);
    text-decoration: none;
    color: var(--main-color);
@media screen and (min-width:  1200px) {
    margin-right: 93px;
}
}

.header__logotype {
    color: #000000;
}

.nav {
    display: none;
@media screen and (min-width: 768px) {
        display: flex;
        column-gap: 51px;
        list-style: none;
    }
@media screen and (min-width: 768px) {
    column-gap: 53px;
}
    }

.nav__link { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    transition: color var(--usual-transition);
    &:hover,
    &:focus {
            color: var(--main-color);
        }
    
}

.header-contacts {
    display: none;
@media screen and (min-width: 768px) {
    display: table-column;
    column-gap: 50px;
    margin-left: auto;
    list-style: none;
}
@media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    
}
}

.header-contact {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--rare-color);
    transition: color var(--usual-transition);
    &:hover,
    &:focus {
            color: var(--main-color);
        }
}


.header-contact__item {
    display: flex;
    margin-bottom: 10px;
@media screen and (min-width: 1200px) {
    &:nth-child(1){
        margin-bottom: -10px;
    }
}
}
.header-contact__item:nth-child(2){
    margin-bottom: -10px;
}

.header-contact__link {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 8px;
    color: var(--rare-color);
    text-decoration: none;
}

.header-contact__icon {
    fill: currentColor;
}


.nav__item {
    position: relative;
}

.nav__link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background: #2196F3;

    position: absolute;
    top: 46px;
    left: 0px;
}

.nav__open-btn {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    background-color: #fff;
@media screen and (min-width: 768px){
    display: none;
}
}

.nav__close-btn{
    display: block;
    margin-left: auto;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    background-color: #fff;
}

.menu-top{
    width: 100%;
}
.header-mob__open-icon {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.header-mob__close-icon {
        position: absolute;
        top: 0;
        transform: translateX(-15%);
        &:hover{fill: var(--main-color)};
        cursor: pointer;
}

.mob-menu {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh ;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 48px;
   >.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
   }
}

.container{
    padding-right: 15px;
    padding-left: 40px;
}
.header-mob__close-icon {
    display: flex;
    margin-left: auto;
    margin-bottom: 8px;
}

.mob-menu__nav {
    align-items: start;
}

.mob-menu__item {
    margin-bottom: 36px;
    &:nth-child(3){
        margin-bottom: 0;
    }
}

.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    &:hover,
    &:focus {
            color: var(--main-color);     
            }
}

.mob-menu__tel {
    display: flex;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;    
    color: var(--main-color);
    text-decoration: none;
}

.mob-menu__mail{
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--rare-color);
    text-decoration: none;
    margin-bottom: 64px;
}

.mob-menu-soc__list {
    display: flex;
}

.mob-menu-soc__item {
    padding-right: 10px ;
    padding-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:nth-child(4){
        border:none;
    }
}

.mob-menu-soc__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;    
    letter-spacing: 1.22;
    color: var(--main-color);
    text-decoration: none;
}

